body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: 'Roboto', sans-serif;
}
.content {
  margin-bottom: 20px;
}

.logo {
  text-align: center;
width: 200px;
}

h2 {
  text-align: center;
}

.container_div {
  text-align: center;
  margin-bottom: 60px;
}

.flex-item {
  display: flex;
  border: 1px solid #000;
  background: #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
  background-color: #ffffff;
  border: 1px solid #000000;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  padding: 4px;
  border-radius: 5px;
  justify-content: space-around;
  height: 60px;
  width: 410px;
  overflow: hidden;
}

.icon {
  width: 45px;
  height: 45px;
  cursor: pointer;
}

.facebook_icon{
  width: 65px;
  height: 65px;
  cursor: pointer;
}
.verificaion_icon{
  width: 65px;
  height: 65px;
  cursor: pointer;
}

.content_login{
  cursor: pointer;
}